  <%- include('includes/header') %>
  
  <div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %>

    <div class="d-flex justify-content-between">
      <h2><%= post.title %></h2>
      <% if (post.isVisitorOwner) { %>
        <span class="pt-2">
          <a href="/post/<%= post._id %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
          <form class="delete-post-form d-inline" action="/post/<%= post._id %>/delete" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
          </form>
        </span>
     <% } %>
    </div>
      
    

      <div class="media">
        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"src="<%= post.author.avatar %>
          alt="Avatar">
        <div class="media-body">
          <p class="text-muted small mb-4">
            <a style="text-decoration: none;" href="/profile/<%= post.author.username %>">
                <h5 class="mt-0 font-weight-bold blue-text" style="display: inline-block; margin-right: 10px;">
                  <%= post.author.username %>
                </h5>
                <span class="text-muted small">
                  <%= getTime(post.createdDate) %>
                </span>
            </a>
         
         
          <%- filterUserHTML(post.body) %>
        </p>
        <div id="like"  v-if="LikeNow">
          <span>
            <strong> Like </strong>
            <img src="https://img.icons8.com/cotton/64/000000/like--v1.png" height="40px" width="40px"/>
            <strong> unlike </strong>
          </span>
      </div>
      <div id="commentBox">
        <form @submit.prevent='addComment'>
           <div style="border-top: 1px solid black;">
              <div class="media mt-3 shadow-textarea">
                
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold blue-text" style="display: inline-block; margin-right: 10px;"> 
                    <strong style="margin-right: 10px;">@<%= //user.username %>Kingston</strong>
                  </h5> 
                  <div class="form-group basic-textarea rounded-corners">
                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="3" placeholder="Write your comment..."></textarea>
                  </div>
                  <button type="button" style="float: right; clear: both;" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
        </form>
            <div>
              <div class="media mt-3 shadow-textarea">
               
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold blue-text" style="display: inline-block; margin-right: 10px;"> 
                    <strong style="margin-right: 10px;">@williams</strong>
                    <span class="text-muted small">
                      <%= getTime(post.createdDate) %>
                    </span>
                  </h5> 
                  <div class="form-group basic-textarea rounded-corners">
                    Next gen Tech!
                  </div>
                </div>
              </div>

              <div class="media mt-3 shadow-textarea">
                
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold blue-text" style="display: inline-block; margin-right: 10px;"> 
                    <strong style="margin-right: 10px;">@Douglas</strong>
                    <span class="text-muted small">
                      <%= getTime(post.createdDate) %>
                    </span>
                  </h5> 
                  <div class="form-group basic-textarea rounded-corners">
                  wow this would be great!
                  </div>
                </div>
              </div>
            </div>
          </div>

             

              
              
           </div>
        </div>
      </div>

  </div>
  
  <%- include('includes/footer') %>

  <script>
    var app = new Vue({
              el: '#commentBox',
              data: {
                comments: [] 
              },
              async created () {
                await fetch('/api/v1/comments/getall').then(res => res.json()).then((data) => {
                  console.log()

                })
              },
              methods:{
               async addComment() {
               }

              }
    })
  </script>